<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>共通エラー</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
  </head>
  <body>
    <th:block th:insert="~{layout/_Header :: pageHeader}"></th:block>
    <main>
      <form action="error" method="POST">
        <h1>予期せぬエラーが発生しました。管理者にお問い合わせください。</h1>
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary"
            id="menu-btn"
            onClick="location.href='menu'"
          >
            <i class="fas fa-home"></i>
            メニューへ戻る
          </button>
        </div>
      </form>
    </main>

    <th:block th:insert="~{layout/_Footer :: pageFooter}"></th:block>
  </body>
</html>
